<igx-grid [data]="data">
  <igx-paginator #igxPaginator class="paginator">
    <igx-paginator-content>
      <app-paginator></app-paginator>
    </igx-paginator-content>
  </igx-paginator>
  <igx-column [resizable]="true" header="ID" field="id"> </igx-column>
  <igx-column [resizable]="true" header="name" field="name"> </igx-column>
  <igx-column [resizable]="true" header="description" field="description">
  </igx-column>
  <igx-column [resizable]="true" header="date" field="date"> </igx-column>
  <igx-column [resizable]="true" header="title" field="title"> </igx-column>
  <igx-column [resizable]="true" header="test1" field="test1"> </igx-column>
  <igx-column [resizable]="true" header="test2" field="test2"> </igx-column>
  <igx-column [resizable]="true" header="test3" field="test3"> </igx-column>
  <igx-column [resizable]="true" header="test4" field="test4"> </igx-column>
  <igx-column [resizable]="true" header="test5" field="test5"> </igx-column>
  <igx-column [resizable]="true" header="test6" field="test6"> </igx-column>
  <igx-column [resizable]="true" header="test7" field="test7"> </igx-column>
  <igx-column [resizable]="true" header="test8" field="test8"> </igx-column>
  <igx-column [resizable]="true" header="test9" field="test9"> </igx-column>
  <igx-column [resizable]="true" header="test10" field="test10"> </igx-column>
  <igx-column [resizable]="true" header="test11" field="test11"> </igx-column>
  <igx-column [resizable]="true" header="test12" field="test12"> </igx-column>
  <igx-column [resizable]="true" header="test13" field="test13"> </igx-column>
  <igx-column [resizable]="true" header="test14" field="test14"> </igx-column>
  <igx-column [resizable]="true" header="test15" field="test15"> </igx-column>
</igx-grid>
